<div class="container py-5">
  <div class="row">
    <table class="table text-center">
      <thead>
      <tr>
        <th scope="col">Hotel</th>
        <th scope="col">Guess Name</th>
        <th scope="col">Type</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">
          <img src="./assets/hotels.jpg" height="100" width="100" />
        </th>
        <td>John Michael Micosa Buan</td>
        <td>Luxury</td>
        <td>
          <button class="btn btn-success m-1">
            <i class="fa-solid fa-pen"></i>
          </button>
          <button class="btn btn-danger m-1 ">
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>

      <tr>
        <th scope="row">
          <img src="./assets/hotels.jpg" height="100" width="100" />
        </th>
        <td>John Michael Micosa Buan</td>
        <td>Suite</td>
        <td>
          <button class="btn btn-success m-1">
            <i class="fa-solid fa-pen"></i>
          </button>
          <button class="btn btn-danger m-1 ">
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>

      <tr>
        <th scope="row">
          <img src="./assets/hotels.jpg" height="100" width="100" />
        </th>
        <td>John Michael Micosa Buan</td>
        <td>Suite</td>
        <td>
          <button class="btn btn-success m-1">
            <i class="fa-solid fa-pen"></i>
          </button>
          <button class="btn btn-danger m-1 ">
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>

      </tbody>
    </table>

  </div>
</div>
