
<div  class='cards '>
  <h1>Check out these Hotels!</h1>
  <div class='cards__container'>
    <div class='cards__wrapper row'>
      <ul style="list-style-type: none;" class='cards__items '>

        <div class="d-flex justify-content-around py-5">

        <li>
          <app-card-item></app-card-item>
        </li>
        <li>
          <app-card-item></app-card-item>
        </li>
        <li>
          <app-card-item></app-card-item>
        </li>

        </div>

        <div class="d-flex justify-content-around">

          <li>
            <app-card-item></app-card-item>
          </li>
          <li>
            <app-card-item></app-card-item>
          </li>
          <li>
            <app-card-item></app-card-item>
          </li>

        </div>

      </ul>
    </div>
  </div>
</div>
