.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.card-registration .select-arrow {
  top: 13px;
}

.img__flow {
  height: 100%;
  width: 100%;
}

.reserve__form{
  width: 50%;
}

@media screen and (max-width: 950px) {

    .img__flow {
      display: none;
    }

    .img__flow {
      height: 137vh;
      width: 100%;
    }

    .reserve__form{
    width: 100%;
    }

}
