<div class="card shadow-lg" style="width: 18rem;">
  <div style="text-decoration: none;" class="cards__item__pic-wrap">
    <figure class="image__text">
      <a href="register">
        <img class="card-img-top cards__item__img" src="./assets/hotels.jpg" alt="Card image cap">
      </a>
      <h5 class="card__type"> Available </h5>
    </figure>

    <div class="card-body ">
      <div class="d-flex justify-content-between">
        <h5 class="card-title text-dark">Hotel</h5>
        <label class="text-primary"></label>
      </div>
      <p class="card-text text-dark">Some quick example text to build on the card title and make up the bulk of the
        card's content.</p>
      <div class="d-flex justify-content-between">
        <a href="register" class="btn btn-primary">Reserve now</a>
        <span class="bg-dark text-white py-2 px-4 rounded "> $2000 </span>
      </div>
    </div>
  </div>
</div>
