<div class="container">
    <div class="text-center py-4" >
        <h1 style="font-size: 4rem;" > Travel More Expore More </h1>
    </div>
    <div class="d-flex justify-content-center shadow-lg" >
        <img src="./assets/about.jpg"  alt="About-Img" class="rounded ml-3" width="1500" height="700" />
    </div>

        <div class="container" >
            <div style="margin-top: 5%;" class="d-flex justify-content-center" > 
                <h1 style="text-decoration: underline;" > <a href="/about" class="text-dark" > About </a> </h1>
            </div>

           <div class="d-flex justify-content-between mb-5" >
            <div style="margin-top: 3%;" class=" text-center shadow-lg mx-4 " >
                <h2> Hotel Reservation helps everyone reserves to thier temporary Home </h2>
                <p class="p-4" > The Hotel Reservation is a tool to help you travel and more explore more. 
                    You can go anywhere without worrying about a thing 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
                </p>
            </div>

            <div style="margin-top: 3%;" class="shadow-lg text-center mx-4" >
                <h2>Vission</h2>
                <p class="p-4" > 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
                </p>
            </div>

            <div style="margin-top: 3%;" class="shadow-lg text-center mx-4" >
                <h2>Goal</h2>
                <p class="p-4" > 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
                </p>
            </div>

           </div>
        </div>
</div>