<div  class="container ">
    <div style="padding-top: 20%; padding-bottom: 20%;" >
        <div class="d-flex justify-content-between ">
            <div class="border border-dark rounded ">
              <img src="./assets/hotels.jpg" class="rounded" alt="Hotel" height="300">
            </div>
            <div class="text-white text-center w-50 bg-dark pt-5 rounded">
                <p class="pt-5 px-4"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                     a galley of type and scrambled it to make a type specimen book.
                     </p>
                    <button class="btn btn-warning text-white mt-3 px-3 py-2" >Reserve Now</button>
            </div>
        </div>
    </div>
</div>
